body {
  padding:0;
  margin:0 auto;
  background:none;
}

#header-container{
  width:100%;
  margin:auto;
  padding:0px;
  position:fixed;
  top:0px;
  left:0px;
  background:black;
}
#header-menu{
  
}
ul li {
  text-align:center;
}
li a {
  display:inline-block;
  font-size:1.5em;
  color:white;
  font-family:Arial;
  text-transform:uppercase;
  text-decoration:none;
  padding:2em;
}
li a:hover {
  display:inline-block;
  font-size:1.5em;
  color:white;
  font-family:Arial;
  text-transform:uppercase;
  text-decoration:none;
  padding:2em;
}

#container {
  width:100%;
  margin:auto;
  padding:0px;
  overflow:auto;
  margin-top:10%;
  background:none;
  position:relative;
}

.left-container{
  position:absolute;
  float:left;
  overflow:auto;
  width:;
  
}
.right-container{
   position:absolute;
  float:left;
  overflow:auto;
  width:;
}
